<!-- Begin Page Content -->
<div class="container-fluid">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Upcoming Exams</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTableUpcomingExams" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Course</th>
                            <th>Exam</th>
                            <th>Semester</th>
                            <th>Date</th>
                            <th>Remaining registration time</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>IT 2001 Web Programming</td>
                            <td>Final</td>
                            <td>1</td>
                            <td>23.04.2026</td>
                            <td>50h</td>
                            <td>
                                <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                    <i class="fas fa-newspaper fa-sm text-white-50"></i> Apply</a> 
                                <a class="d-none d-sm-inline-block btn btn-sm btn-danger btn-primary shadow-sm">
                                    <i class="fas fa-times fa-sm text-white-50"></i> Cancel</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

