<!-- Begin Page Content -->
<div class="container-fluid">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Exams</h6>
        </div>
        <div class="card-body">
            <div id='calendar'></div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'timeGridWeek',
        headerToolbar: {
            right: 'prev,today,next',
            center: 'title',
            left: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
        },
        buttonText: {
            month: 'Month',
            week: 'Week',
            day: 'Day',
            list: 'List',
            today: 'Today'
        },
        events: [{
            title: 'Web Programming Final Exam',
            start: '2025-10-18T12:00',
            end: '2025-10-18T14:00'
        }]  
    });
    
    calendar.render();
});
</script>
