<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- DataTales Example -->  
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold text-primary">Rooms</h6>
        <a class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm" data-toggle="modal" data-target="#addRoomModal">
                        <i class="fas fa-plus fa-sm text-white-50"></i> Add Room
                    </a>
        
    </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTableRooms" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Type</th>
                            <th>Seat Capacity</th>
                            <th class="actions-column">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                    
                        </tr>
                    </tbody>
                </table>  
            </div>
        </div>
    </div>

</div>
<!-- End of Main Content -->

<!-- Edit Room Modal-->
<div class="modal fade" id="editRoomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold text-primary" id="exampleModalLabel">Edit Room</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body justify-content-center">
                <div class="card-body p-0">
                    <div class="col-lg-12">
                        <form class="user">
                            <div class="form-group row">
                                <div class="col-sm-12 mb-3 mb-sm-0">
                                    <label for="editCode" class="font-weight-bold text-primary medium">Code</label>
                                    <input type="text" class="form-control form-control-user" id="editCode"
                                        placeholder="Code">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="type" class="font-weight-bold text-primary medium">Type</label>
                                    <select id="editType" class="form-control">
                                        <option value="standard">STANDARD</option>
                                        <option value="it">IT</option>
                                        <option value="lecturehall">LECTUREHALL</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label for="editSeatCapcity" class="font-weight-bold text-primary medium">Seat Capacity</label>
                                    <input type="text" class="form-control form-control-user" id="editSeatCapacity"
                                        placeholder="Seat Capacity">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <label for="editCoord_x" class="font-weight-bold text-primary medium">Coordinate X</label>
                                    <input type="text" class="form-control form-control-user" id="editCoord_x"
                                        placeholder="Coordinate X">
                                </div>
                                <div class="col-sm-4">
                                    <label for="editCoord_y" class="font-weight-bold text-primary medium">Coordinate Y</label>
                                    <input type="text" class="form-control form-control-user" id="editCoord_y"
                                        placeholder="Coordinate Y">
                                </div>
                                <div class="col-sm-4">
                                    <label for="editCoord_z" class="font-weight-bold text-primary medium">Coordinate Z</label>
                                    <input type="text" class="form-control form-control-user" id="editCoord_z"
                                        placeholder="Coordinate Z">
                                </div>
                            </div>
                            <div class="row justify-content-end">
                                <a class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm mr-2" data-dismiss="modal">
                                <i class="fas fa-times fa-sm text-white-50"></i> Cancel</a>
                                <button type="submit" id="changeRoomSubmitBtn" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">
                                <i class="fas fa-pencil-alt fa-sm text-white-50"></i> Change</button>
                            </div>           
                        </form>   
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>

<!-- Remove Room Modal-->
<div class="modal fade" id="removeRoomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this room?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">This action is permanent if you press "Remove" the room will be permanently removed.</div>
            <div class="modal-footer">
                <a class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm mr-2" data-dismiss="modal">
                <i class="fas fa-times fa-sm text-white-50"></i> Cancel</a>
                <a id="confirmRemoveRoomBtn" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm">
                <i class="fas fa-times fa-sm text-white-50"></i> Remove</a>
            </div>
        </div>
    </div>
</div>

<!-- Add Room Modal-->
<div class="modal fade" id="addRoomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Room</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body justify-content-center">
                <div class="card-body p-0">
                    <div class="col-lg-12">
                        <form class="user">
                            <div class="form-group row">
                                <div class="col-sm-12 mb-3 mb-sm-0">
                                    <label for="coord_x" class="font-weight-bold text-primary medium">Code / Name</label>
                                    <input type="text" class="form-control form-control-user" id="code"
                                        placeholder="Code">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="coord_x" class="font-weight-bold text-primary medium">Type</label>
                                    <select id="type" class="form-control">
                                        <option></option>
                                        <option value="standard">STANDARD</option>
                                        <option value="it">IT</option>
                                        <option value="lecturehall">LECTUREHALL</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label for="coord_x" class="font-weight-bold text-primary medium">Seat Capacity</label>
                                    <input type="text" class="form-control form-control-user" id="seatCapacity"
                                        placeholder="Seat Capacity">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <label for="coord_x" class="font-weight-bold text-primary medium">Coordinate X</label>
                                    <input type="text" class="form-control form-control-user" id="coord_x"
                                        placeholder="Coordinate X">
                                </div>
                                <div class="col-sm-4">
                                    <label for="coord_x" class="font-weight-bold text-primary medium">Coordinate Y</label>
                                    <input type="text" class="form-control form-control-user" id="coord_y"
                                        placeholder="Coordinate Y">
                                </div>
                                <div class="col-sm-4">
                                    <label for="coord_x" class="font-weight-bold text-primary medium">Coordinate Z</label>
                                    <input type="text" class="form-control form-control-user" id="coord_z"
                                        placeholder="Coordinate Z">
                                </div>
                            </div>
                            <div class="row justify-content-end">
                                <a class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm mr-2" data-dismiss="modal">
                                <i class="fas fa-times fa-sm text-white-50"></i> Cancel</a>
                                <button type="submit" id="addRoomSubmitBtn" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">
                                <i class="fas fa-plus fa-sm text-white-50"></i> Add</button>
                            </div>           
                        </form>   
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>