<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Rooms</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Building</th>
                            <th>Type</th>
                            <th>Seat Capacity</th>
                        </tr>
                    </thead>
                    <tbody id="rooms-table-body">
                        <tbody id="rooms-table-body">
                        <tr>
                            <td>310</td>
                            <td>B</td>
                            <td>IT</td>
                            <td>30</td>
                        </tr>
                        <tr>
                            <td>311</td>
                            <td>B</td>
                            <td>STANDARD</td>
                            <td>25</td>
                        </tr>
                        <tr>
                            <td>312</td>
                            <td>B</td>
                            <td>LECTUREHALL</td>
                            <td>80</td>
                        </tr>
                        <tr>
                            <td>313</td>
                            <td>B</td>
                            <td>IT</td>
                            <td>28</td>
                        </tr>
                        <tr>
                            <td>314</td>
                            <td>B</td>
                            <td>STANDARD</td>
                            <td>26</td>
                        </tr>
                        <tr>
                            <td>315</td>
                            <td>B</td>
                            <td>IT</td>
                            <td>30</td>
                        </tr>
                        <tr>
                            <td>316</td>
                            <td>B</td>
                            <td>LECTUREHALL</td>
                            <td>90</td>
                        </tr>
                        <tr>
                            <td>317</td>
                            <td>B</td>
                            <td>STANDARD</td>
                            <td>22</td>
                        </tr>
                        <tr>
                            <td>318</td>
                            <td>B</td>
                            <td>IT</td>
                            <td>35</td>
                        </tr>
                        <tr>
                            <td>319</td>
                            <td>B</td>
                            <td>STANDARD</td>
                            <td>24</td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-end mb-1">
                    <a class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm mr-2">
                        <i class="fas fa-plus fa-sm text-white-50"></i> Add
                    </a>
                    <a class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm">
                        <i class="fas fa-times fa-sm text-white-50"></i> Remove
                    </a>
                </div>
                
                
            </div>
        </div>
    </div>

</div>
<!-- End of Main Content -->

<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<script src="/frontend/js/demo/datatables-demo.js"></script>

